<!DOCTYPE html>
<html lang="en" class="bg-white antialiased">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">

    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">

    <meta property="og:url" content="https://crisis.tools/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />

    <link rel="stylesheet" href="/build.css" />
</head>
<body class="container mx-auto my-8">
{{{ content }}}
</body>
</html>